<a href="https://colab.research.google.com/github/ttped/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Trevor_Pedersen_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [ ]:
### YOUR WORK HERE
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
#read in the data
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data')
df

     3    ?  alfa-romero     gas    std   two  ...  9.00  111  5000  21  27  13495
0    3    ?  alfa-romero     gas    std   two  ...   9.0  111  5000  21  27  16500
1    1    ?  alfa-romero     gas    std   two  ...   9.0  154  5000  19  26  16500
2    2  164         audi     gas    std  four  ...  10.0  102  5500  24  30  13950
3    2  164         audi     gas    std  four  ...   8.0  115  5500  18  22  17450
4    2    ?         audi     gas    std   two  ...   8.5  110  5500  19  25  15250
..  ..  ...          ...     ...    ...   ...  ...   ...  ...   ...  ..  ..    ...
199 -1   95        volvo     gas    std  four  ...   9.5  114  5400  23  28  16845
200 -1   95        volvo     gas  turbo  four  ...   8.7  160  5300  19  25  19045
201 -1   95        volvo     gas    std  four  ...   8.8  134  5500  18  23  21485
202 -1   95        volvo  diesel  turbo  four  ...  23.0  106  4800  26  27  22470
203 -1   95        volvo     gas  turbo  four  ...   9.5  114  5400  19  25  22625

[204 rows x 26 columns]

In [ ]:
#fix column headers
column_headers = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration",
"num-of-doors", "body-style", "drive-wheels", "engine-location",
"wheel-base", "length", "width", "height", "curb-weight",
"engine-type", "num-of-cylinders", "engine-size", "fuel-system",
"bore", "stroke", "compression-ratio", "hoursepower", "peak-rpm",
"city-mpg", "highway-mpg", "price"]

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data', names=column_headers)

df

     symboling normalized-losses         make  ... city-mpg highway-mpg  price
0            3                 ?  alfa-romero  ...       21          27  13495
1            3                 ?  alfa-romero  ...       21          27  16500
2            1                 ?  alfa-romero  ...       19          26  16500
3            2               164         audi  ...       24          30  13950
4            2               164         audi  ...       18          22  17450
..         ...               ...          ...  ...      ...         ...    ...
200         -1                95        volvo  ...       23          28  16845
201         -1                95        volvo  ...       19          25  19045
202         -1                95        volvo  ...       18          23  21485
203         -1                95        volvo  ...       26          27  22470
204         -1                95        volvo  ...       19          25  22625

[205 rows x 26 columns]

In [ ]:
#replace ? with nan
df = df.replace('?', np.NAN)
df

     symboling normalized-losses         make  ... city-mpg highway-mpg  price
0            3               NaN  alfa-romero  ...       21          27  13495
1            3               NaN  alfa-romero  ...       21          27  16500
2            1               NaN  alfa-romero  ...       19          26  16500
3            2               164         audi  ...       24          30  13950
4            2               164         audi  ...       18          22  17450
..         ...               ...          ...  ...      ...         ...    ...
200         -1                95        volvo  ...       23          28  16845
201         -1                95        volvo  ...       19          25  19045
202         -1                95        volvo  ...       18          23  21485
203         -1                95        volvo  ...       26          27  22470
204         -1                95        volvo  ...       19          25  22625

[205 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [ ]:
### YOUR WORK HERE

#Prevent scientific notation number format
pd.options.display.float_format = '{:.0f}'.format

#Sample
sample = df.sample(n=10, random_state=30)
print(sample)
sample.mean()

     symboling  normalized-losses           make  ... city-mpg highway-mpg price
121          1                154       plymouth  ...       31          38  6692
176         -1                 65         toyota  ...       27          32 10898
24           1                148          dodge  ...       31          38  6229
88          -1                137     mitsubishi  ...       23          30  9279
72           3                142  mercedes-benz  ...       16          18 35056
103          0                108         nissan  ...       19          25 13499
26           1                148          dodge  ...       31          38  7609
20           0                 81      chevrolet  ...       38          43  6575
155          0                 91         toyota  ...       27          32  8778
185          2                 94     volkswagen  ...       27          34  8195

[10 rows x 26 columns]

symboling               1
normalized-losses     117
wheel-base             96
length                170
width                  65
height                 53
curb-weight          2474
engine-size           121
bore                    3
stroke                  3
compression-ratio       9
hoursepower            94
peak-rpm             5160
city-mpg               27
highway-mpg            33
price               11281
dtype: float64

In [ ]:
#We are getting some obscenely large numbers, so we must be doing something wrong
#Not entirely sure why, but I suspect it might have something to do with the datatypes so I'm going to check that
sample.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
hoursepower           object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [ ]:
#Yup, if we look at price it is a object
#Actually, if we look at any of our messed up rows we will see that they are all string objects
#Lets convert all strings into numbers

#iterate through every column, check if it is a object, if true convert to float, if errors thrown do nothing on column
for column in df:
  if df[column].dtype == 'object':
    df[column] = df[column].astype(float, errors='ignore')

df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
hoursepower          float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [ ]:
#Okay, lets finally rerun the cells above

#Sample
sample = df.sample(n=10, random_state=30)
sample.mean()

symboling               1
normalized-losses     117
wheel-base             96
length                170
width                  65
height                 53
curb-weight          2474
engine-size           121
bore                    3
stroke                  3
compression-ratio       9
hoursepower            94
peak-rpm             5160
city-mpg               27
highway-mpg            33
price               11281
dtype: float64

In [ ]:
#Okay, this looks a lot more normal

In [ ]:
#Look at overall mean
pop_mean = df['highway-mpg'].mean()
pop_mean

30.75121951219512

In [ ]:
#perform a 1sample ttest
stats.ttest_1samp(sample['highway-mpg'], popmean=pop_mean)

Ttest_1sampResult(statistic=0.8912422391619923, pvalue=0.39600040771093326)

In [ ]:
#A t-value of 0 indicates that the sample is exactly equal with the null hypothesis
#We have a value greater than 0, so that means our sample's mean is greater than the population mean

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [ ]:
### YOUR WORK HERE
sample['highway-mpg'].mean()

32.8

In [ ]:
#Our mean suggests the salesman is overstating MPG by 2.2

In [ ]:
stats.ttest_1samp(sample['highway-mpg'], popmean=35)

Ttest_1sampResult(statistic=-0.9570244044334747, pvalue=0.36355472283248624)

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [ ]:
### YOUR WORK HERE
sample = df.sample(n=100, random_state=30)
sample['highway-mpg'].mean()

30.64

In [ ]:
#Now the salesman is overstating by 5 MPG!

In [ ]:
stats.ttest_1samp(sample['highway-mpg'], popmean=35)

Ttest_1sampResult(statistic=-6.5185242467032305, pvalue=3.003137417468754e-09)

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

Because we are taking a sample out of the total population. Depending on what values we happen to get we can get wildly different answers. Our first sample of 10 is fairly small, so it can lead to huge variances in values. Our second sample is much larger, so the chance of variance from the population is much lower.

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [ ]:
### YOUR WORK HERE
#read in data
headers = ['class-name', 'handicapped-infants', 'water-project-cost-sharing', 'adoption-of-the-budget-resolution', 'physician-fee-freeze', 'el-salvador-aid',
           'religious-groups-in-schools', 'anti-satellite-test-ban', 'aid-to-nacaraguan-contras', 'mx-missle', 'immigration', 'synfuels-corporation-cutback',
           'education-spending', 'superfund-right-to-sue', 'crime', 'duty-free-exports', 'export-administration-act-south-africa']

df2 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', names=headers)
df2

     class-name  ... export-administration-act-south-africa
0    republican  ...                                      y
1    republican  ...                                      ?
2      democrat  ...                                      n
3      democrat  ...                                      y
4      democrat  ...                                      y
..          ...  ...                                    ...
430  republican  ...                                      y
431    democrat  ...                                      y
432  republican  ...                                      y
433  republican  ...                                      y
434  republican  ...                                      n

[435 rows x 17 columns]

In [ ]:
df2.dtypes

class-name                                object
handicapped-infants                       object
water-project-cost-sharing                object
adoption-of-the-budget-resolution         object
physician-fee-freeze                      object
el-salvador-aid                           object
religious-groups-in-schools               object
anti-satellite-test-ban                   object
aid-to-nacaraguan-contras                 object
mx-missle                                 object
immigration                               object
synfuels-corporation-cutback              object
education-spending                        object
superfund-right-to-sue                    object
crime                                     object
duty-free-exports                         object
export-administration-act-south-africa    object
dtype: object

In [ ]:
#replace values
df2 = df2.replace('y', 1)
df2 = df2.replace('n', 0)
df2 = df2.replace('?', np.NaN)
df2

     class-name  ...  export-administration-act-south-africa
0    republican  ...                                     1.0
1    republican  ...                                     NaN
2      democrat  ...                                     0.0
3      democrat  ...                                     1.0
4      democrat  ...                                     1.0
..          ...  ...                                     ...
430  republican  ...                                     1.0
431    democrat  ...                                     1.0
432  republican  ...                                     1.0
433  republican  ...                                     1.0
434  republican  ...                                     0.0

[435 rows x 17 columns]

In [ ]:
#group by democrat and republican
sample_dem = df2[df2['class-name'] == 'democrat']
sample_repub = df2[df2['class-name'] == 'republican']

print(sample_dem)
sample_repub

    class-name  ...  export-administration-act-south-africa
2     democrat  ...                                     0.0
3     democrat  ...                                     1.0
4     democrat  ...                                     1.0
5     democrat  ...                                     1.0
6     democrat  ...                                     1.0
..         ...  ...                                     ...
425   democrat  ...                                     NaN
426   democrat  ...                                     1.0
428   democrat  ...                                     1.0
429   democrat  ...                                     1.0
431   democrat  ...                                     1.0

[267 rows x 17 columns]

     class-name  ...  export-administration-act-south-africa
0    republican  ...                                     1.0
1    republican  ...                                     NaN
7    republican  ...                                     1.0
8    republican  ...                                     1.0
10   republican  ...                                     0.0
..          ...  ...                                     ...
427  republican  ...                                     1.0
430  republican  ...                                     1.0
432  republican  ...                                     1.0
433  republican  ...                                     1.0
434  republican  ...                                     0.0

[168 rows x 17 columns]

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [ ]:
### YOUR WORK HERE
for column in df2:
  if column == 'class-name':
    continue
  data = stats.ttest_ind(sample_dem[column], sample_repub[column], nan_policy='omit')
  

  if data[0] > 0 and data[1] < .01:
    #repub support
    print('Conclusion: Based on a t-statistic of:', data[0], 'and a p-value of:', data[1], 'I reject the null hypothesis that democrats support', column, 'at the same rate as republicans')
    pass
  pass

Conclusion: Based on a t-statistic of: 9.205264294809222 and a p-value of: 1.613440327937243e-18 I reject the null hypothesis that democrats support handicapped-infants at the same rate as republicans
Conclusion: Based on a t-statistic of: 23.21277691701378 and a p-value of: 2.0703402795404463e-77 I reject the null hypothesis that democrats support adoption-of-the-budget-resolution at the same rate as republicans
Conclusion: Based on a t-statistic of: 12.526187929077842 and a p-value of: 8.521033017443867e-31 I reject the null hypothesis that democrats support anti-satellite-test-ban at the same rate as republicans
Conclusion: Based on a t-statistic of: 18.052093200819733 and a p-value of: 2.82471841372357e-54 I reject the null hypothesis that democrats support aid-to-nacaraguan-contras at the same rate as republicans
Conclusion: Based on a t-statistic of: 16.437503268542994 and a p-value of: 5.03079265310811e-47 I reject the null hypothesis that democrats support mx-missle at the same rate as republicans
Conclusion: Based on a t-statistic of: 8.293603989407588 and a p-value of: 1.5759322301054064e-15 I reject the null hypothesis that democrats support synfuels-corporation-cutback at the same rate as republicans
Conclusion: Based on a t-statistic of: 12.853146132542978 and a p-value of: 5.997697174347365e-32 I reject the null hypothesis that democrats support duty-free-exports at the same rate as republicans
Conclusion: Based on a t-statistic of: 6.849454815841208 and a p-value of: 3.652674361672226e-11 I reject the null hypothesis that democrats support export-administration-act-south-africa at the same rate as republicans

In [ ]:
for column in df2:
  if column == 'class-name':
    continue
  data = stats.ttest_ind(sample_dem[column], sample_repub[column], nan_policy='omit')
  #dem support
  if data[0] < 0 and data[1] < .01:
    print('Conclusion: Based on a t-statistic of:', data[0], 'and a p-value of:', data[1], 'I reject the null hypothesis that republicans support', column, 'at the same rate as democrats')
    pass
  pass

Conclusion: Based on a t-statistic of: -49.36708157301406 and a p-value of: 1.994262314074344e-177 I reject the null hypothesis that republicans support physician-fee-freeze at the same rate as democrats
Conclusion: Based on a t-statistic of: -21.13669261173219 and a p-value of: 5.600520111729011e-68 I reject the null hypothesis that republicans support el-salvador-aid at the same rate as democrats
Conclusion: Based on a t-statistic of: -9.737575825219457 and a p-value of: 2.3936722520597287e-20 I reject the null hypothesis that republicans support religious-groups-in-schools at the same rate as democrats
Conclusion: Based on a t-statistic of: -20.500685724563073 and a p-value of: 1.8834203990450192e-64 I reject the null hypothesis that republicans support education-spending at the same rate as democrats
Conclusion: Based on a t-statistic of: -13.51064251060933 and a p-value of: 1.2278581709672758e-34 I reject the null hypothesis that republicans support superfund-right-to-sue at the same rate as democrats
Conclusion: Based on a t-statistic of: -16.342085656197696 and a p-value of: 9.952342705606092e-47 I reject the null hypothesis that republicans support crime at the same rate as democrats

In [ ]:
for column in df2:
  if column == 'class-name':
    continue
  data = stats.ttest_ind(sample_dem[column], sample_repub[column], nan_policy='omit')
  
  #equal support
  if data[1] > .1:
    print('Conclusion: Based on a t-statistic of:', data[0], 'and a p-value of:', data[1], 'I fail to reject the null hypothesis that democrats and republicans support', column, 'at the same rate')
    pass
  pass

Conclusion: Based on a t-statistic of: -0.08896538137868286 and a p-value of: 0.9291556823993485 I fail to reject the null hypothesis that democrats and republicans support water-project-cost-sharing at the same rate

In [ ]:
sample_dem.mean()

handicapped-infants                       0.604651
water-project-cost-sharing                0.502092
adoption-of-the-budget-resolution         0.888462
physician-fee-freeze                      0.054054
el-salvador-aid                           0.215686
religious-groups-in-schools               0.476744
anti-satellite-test-ban                   0.772201
aid-to-nacaraguan-contras                 0.828897
mx-missle                                 0.758065
immigration                               0.471483
synfuels-corporation-cutback              0.505882
education-spending                        0.144578
superfund-right-to-sue                    0.289683
crime                                     0.350195
duty-free-exports                         0.637450
export-administration-act-south-africa    0.935135
dtype: float64

In [ ]:
sample_repub.mean()

handicapped-infants                       0.187879
water-project-cost-sharing                0.506757
adoption-of-the-budget-resolution         0.134146
physician-fee-freeze                      0.987879
el-salvador-aid                           0.951515
religious-groups-in-schools               0.897590
anti-satellite-test-ban                   0.240741
aid-to-nacaraguan-contras                 0.152866
mx-missle                                 0.115152
immigration                               0.557576
synfuels-corporation-cutback              0.132075
education-spending                        0.870968
superfund-right-to-sue                    0.860759
crime                                     0.981366
duty-free-exports                         0.089744
export-administration-act-south-africa    0.657534
dtype: float64

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE